html 
    head 
        title 
            block title
    style 
        block style 
    body 
        header
            div#logo
                a(href='/home')
                    p Shopeverse
            div#search
                a(href="/product")
                    img(src='/static/img/search.png')
                input(type='text' value=searchtext)
            div#regester
                a(href=`${href}`) #{username}
            div#logbtn
                a(href='no.c' id='log') #{logtext}
            div#cart
                a(href='/cart')
                    img(src='/static/img/cart.png')
        block content 
    block script