extends headerbase.pug
block style 
    include ../static/css/header.css
    include ../static/css/home.css
block title 
    |Home page
block content 
    div
        h1#wellcome Wellcome to Shopverse
block script
    script(src="../static/scripts/home.js")
    script(src="../static/scripts/search.js") 

