.btn{
    width: 50px;
    height: 25px;
    font-size: 1.2em;
    background-color: white;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(104, 64, 129) !important;
}
a:hover{
    border-bottom: 1px solid white;
}