*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    font-size: 18px;
}
header{
    display: flex;
    align-items: center;
    background-color: rgb(72 44 89);
    color: white;
}
header #logo{
    /* border: 1px solid black; */
    margin-left: 2%;
    padding: 25px 0px;
}
header #logo p{
    font-size: 1.4rem;
    color: #cae3f9;
    text-shadow: 1px 1px 3px rgb(2, 0, 0);
}
header #search{
    /* border: 1px solid black; */
    position: relative;
    margin-left: 10%;
    display: flex;
}
#search img{
    position: absolute;
    left: 7px;
    top:2.5px;
    height: 17px;
    width: 17px;
    background-color: white;
}
#search input{
    border: none;
    border-radius: 20px;
    padding-left: 30px;
    height: 22px;
    width: 270px;
}
header #regester{
    /* border: 1px solid black; */
    margin-left: 45%;
}
#regester a{
    color: white;
}
header #logbtn{
    /* border: 1px solid black; */
    margin-left:20px;
}
header #logbtn a{
    color: white;
}
header #cart{
    /* border: 1px solid black; */
    margin-left: 4%;
    justify-self:right;
}
header #cart img{
    height: 45px;
    width:45px;
}